@use 'utils/mixins.scss' as *;

:root {
  --max-width: 1080px;
  --max-width-inner: 1240px;
  --max-width-narrow: 1030px;
  --max-width-narrower: 818px;
  --border-radius: 12px;
  --header-height: 77px;
  --header-height-mobile: 64px;
  --header-height-compressed: 69px;
  --padding-wide: 100px;
  --padding-narrow: 38px;
  --padding: 24px;
  --padding-mobile: 20px;
  --radius: 0.625rem;


  // My Colors
  --bg-color-inner: #f1f1f1;
  --background: rgb(228, 228, 228);
  --text-color: #333;
  --dash-color: #9f9f9f;
  --toastify-color-progress-light: #353935;
  --color-matteblack: #28282B;
  --color-onyx: #303030;

  // LangSwitcher theme variables
  --lang-toggle-bg: #fefefe;
  --lang-toggle-circle: #fff;
  --component-bg: var(--background);
}

[data-theme='dark'] {
  --bg-color-inner: var(--color-onyx);
  --background: var(--color-matteblack);
  --text-color: #fefefe;
  --dash-color: #4d4d4d;

  --lang-toggle-bg: #222;
  --lang-toggle-circle: #444;
  --component-bg: var(--color-onyx);
}

html,
body {
  font-family: var(--font-inconsolata), monospace;
  color: var(--text-color);
  background: var(--background);
  transition: background 0.5s cubic-bezier(0, 0, 0, 1), color 0.2s ease;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  width: 100%;
  & > div,
  & > footer {
    border-top: 1px dashed var(--dash-color);
    border-bottom: 1px dashed var(--dash-color);
  }
}

.inner {
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: var(--bg-color-inner);
  &Space {
    max-width: var(--max-width);
    margin: 0 auto;
    background-color: unset;
  }
}

button,
a {
  cursor: pointer;
  background-color: transparent;
  border: unset;
  color: unset;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  li {
    margin-bottom: 4px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

//  customs 
// padding-outter
.padding {
  &-outter {
    padding: 0 16px;
  }
  &-inner {
    padding: 16px;
    border-left: 1px dashed var(--dash-color);
    border-right: 1px dashed var(--dash-color);
  }
}

.react-slidedown.custom-slidedown {
  transition: 0.2s ease-in-out;
}

// @theme inline {
//   --radius-sm: calc(var(--radius) - 4px);
//   --radius-md: calc(var(--radius) - 2px);
//   --radius-lg: var(--radius);
//   --radius-xl: calc(var(--radius) + 4px);
//   --color-background: var(--background);
//   --color-foreground: var(--foreground);
//   --color-card: var(--card);
//   --color-card-foreground: var(--card-foreground);
//   --color-popover: var(--popover);
//   --color-popover-foreground: var(--popover-foreground);
//   --color-primary: var(--primary);
//   --color-primary-foreground: var(--primary-foreground);
//   --color-secondary: var(--secondary);
//   --color-secondary-foreground: var(--secondary-foreground);
//   --color-muted: var(--muted);
//   --color-muted-foreground: var(--muted-foreground);
//   --color-accent: var(--accent);
//   --color-accent-foreground: var(--accent-foreground);
//   --color-destructive: var(--destructive);
//   --color-border: var(--border);
//   --color-input: var(--input);
//   --color-ring: var(--ring);
//   --color-chart-1: var(--chart-1);
//   --color-chart-2: var(--chart-2);
//   --color-chart-3: var(--chart-3);
//   --color-chart-4: var(--chart-4);
//   --color-chart-5: var(--chart-5);
//   --color-sidebar: var(--sidebar);
//   --color-sidebar-foreground: var(--sidebar-foreground);
//   --color-sidebar-primary: var(--sidebar-primary);
//   --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
//   --color-sidebar-accent: var(--sidebar-accent);
//   --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
//   --color-sidebar-border: var(--sidebar-border);
//   --color-sidebar-ring: var(--sidebar-ring);
// }

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

// @layer base {
//   * {
//     @apply border-border outline-ring/50;
//   }
//   body {
//     @apply bg-background text-foreground;
//   }
// }